// Specific CSS for your home-page
.result{
  height: 71px;
  display:flex;
  justify-content: center;
  align-items: center;
  background: #BBADA0;
    h1 {
      color: white;
    }
}


.title-game{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.table {
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: red;
}
tbody{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;

}

tr{
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td{
  border: 10px solid #BBADA0;
  width: 100px;
  height: 100px;
  background: #CDC0B4;
  border-radius: 3px;
}


.current {
  background: #EEE4DA;
  box-shadow: 1px 1px 5px $white;
  border-radius: 3px;
}

.computer {
    background: #F2B179;
    color: white;
    box-shadow: 1px 1px 5px $white;
    border-radius: 3px;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
}
