<table>
  <tbody>
    <tr>
          </tr>
          <tr>
        <td>
            <div class="cell d-flex align-items-center justify-content-center free">
              <div></div>
            </div>
       </td>
        <td>

            <div class="cell d-flex align-items-center justify-content-center free">
              <div></div>
            </div>
       </td>
        <td>

            <div class="cell d-flex align-items-center justify-content-center free">
              <div></div>
            </div>
        </td>
          </tr>
          <tr>
        <td>

            <div class="cell d-flex align-items-center justify-content-center free">
              <div></div>
            </div>
        </td>
        <td>

            <div class="cell d-flex align-items-center justify-content-center free">
              <div></div>
            </div>
        </td>
        <td>

            <div class="cell d-flex align-items-center justify-content-center free">
              <div></div>
            </div>
        </td>
          </tr>
          <tr>
        <td>

            <div class="cell d-flex align-items-center justify-content-center free">
              <div></div>
            </div>
        </td>
        <td>

            <div class="cell d-flex align-items-center justify-content-center free">
              <div></div>
            </div>
        </td>
        <td>

            <div class="cell d-flex align-items-center justify-content-center free">
              <div></div>
            </div>
        </td>
    </tr>
  </tbody>
</table>


