<div class="result">
  <h1>WINS</h1>
  <!-- <h2 id="statut-jeu">game.result</h2> -->
</div>
<div class="title-game">
  <h1>TIC TAC TOE</h1>
</div>
<div class="container d-flex justify-content-center mt-5">
  <%= render"shared/grid" %>
</div>

